__pycache__/
*.pyc
.venv/
venv/

data/logs/
data/parquet_db/

API/api_bybit_main.txt
API/api_mysql_main.txt
API/api_telegram_level_1.txt
API/api_telegram_level_2.txt
API/api_telegram_main.txt
API/api_credentials_demo_1.txt
API/api_credentials_demo_2.txt
API/api_credentials_demo_3.txt
API/api_credentials_demo_L2_01.txt

.env